<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
				<div class="table-responsive">
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			</rd-widget-header>
   			<rd-widget-body>
				<hr />
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
	</div>
</div>